Repository heristop/linkfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(themes): add bundled theme presets
  src/lib/themeCss.ts
  src/themes.ts
  tests/theme-css.spec.ts
  tests/themes.spec.ts
Due: eslint --fix, prettier --write

feat(a11y): add reveal observer and url sanitizing
  src/lib/revealObserver.ts
  src/lib/sanitize.ts
  tests/a11y.spec.ts
  tests/reveal-observer.spec.ts
  tests/sanitize.spec.ts
Due: eslint --fix, prettier --write

fix(ui): fit social logos and unify press motion
  src/assets/globals.css
  src/components/LinkFolio.tsx
  src/components/QrCodeButton.tsx
  src/components/ShareButton.tsx
  src/components/SocialNetwork.tsx
  src/components/ThemeProvider.tsx
  src/components/ThemeToggle.tsx
  src/components/UserProfile.tsx
  tests/interaction.spec.ts
Due: eslint --fix, prettier --write

feat(app): add showcase site and status pages
  app/bad-request/page.tsx
  app/demo/DemoSlots.tsx
  app/demo/TweakAppearance.tsx
  app/demo/TweakPanel.tsx
  app/demo/opengraph-image.tsx
  app/demo/page.tsx
  app/demo/tweakStyles.ts
  app/demo/useTweakState.ts
  app/docs/OnThisPage.tsx
  app/docs/page.tsx
  app/error.tsx
  app/global-error.tsx
  app/layout.tsx
  app/lib/BackLink.tsx
  app/lib/CodeBlock.tsx
  app/lib/ComparisonTable.tsx
  app/lib/LandingPage.tsx
  app/lib/StatusPage.tsx
  app/lib/ThemePresetProvider.tsx
  app/lib/deployMode.ts
  app/lib/icons.tsx
  app/lib/landingJsonLd.ts
  app/lib/ogCards.tsx
  app/lib/siteMeta.ts
  app/lib/themePreset.ts
  app/lib/useCopyToClipboard.ts
  app/lib/useRevealChildren.ts
  app/llms.txt/route.ts
  app/loading.tsx
  app/not-found.tsx
  app/opengraph-image.tsx
  app/page.tsx
  app/robots.ts
  app/sitemap.ts
  config/user.config.ts
  public/llms.txt
  public/manifest.json
  tests/demo.spec.ts
  tests/deploy-mode.spec.ts
  tests/landing.spec.ts
Due: eslint --fix, prettier --write

test: split showcase and profile playwright suites
  playwright.config.ts
  playwright.profile.config.ts
  tests/homepage.spec.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-darwin.png
  tests/profile/profile.spec.ts
  tests/profile/visual.spec.ts
  tests/profile/visual.spec.ts-snapshots/bento-dark-Mobile-Chrome-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-dark-Mobile-Safari-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-dark-chromium-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-dark-firefox-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-dark-iPad-Pro-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-dark-webkit-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-Mobile-Chrome-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-Mobile-Safari-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-chromium-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-firefox-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-iPad-Pro-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-webkit-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-dark-Mobile-Chrome-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-dark-Mobile-Safari-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-dark-chromium-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-dark-firefox-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-dark-iPad-Pro-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-dark-webkit-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-light-Mobile-Chrome-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-light-Mobile-Safari-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-light-chromium-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-light-firefox-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-light-iPad-Pro-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-light-webkit-darwin.png
  tests/types.test-d.ts
  tsconfig.test.json
Due: eslint --fix, prettier --write

chore: tighten lint rules, hooks and ci
  .github/workflows/playwright.yml
  .gitignore
  .husky/pre-commit
  .oxlintrc.json
Due: prettier --write

build: add subpath exports and bump to 2.4.0
  next.config.js
  package.json
  pnpm-lock.yaml
  tests/package-assets.test.mjs
  tsdown.config.ts
Due: eslint --fix, prettier --write

fix(ci): declare static image types without a build
  tsconfig.json
  tsconfig.test.json
  types/next-assets.d.ts
Due: eslint --fix, prettier --write

ci: add workflow to regenerate linux visual baselines
  .github/workflows/update-snapshots.yml
Due: none

ci: allow playwright suite to be run manually
  .github/workflows/playwright.yml
Due: none

test: run pure-logic specs once with vitest
  .github/workflows/playwright.yml
  .oxlintrc.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/unit/bento-arrange.spec.ts
  tests/unit/deploy-mode.spec.ts
  tests/unit/reveal-observer.spec.ts
  tests/unit/sanitize.spec.ts
  tests/unit/seo-jsonld.spec.ts
  tests/unit/seo-metadata.spec.ts
  tests/unit/theme-css.spec.ts
  tests/unit/themes.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

perf: serve logos at q90 and use the rust react compiler
  next.config.js
  package.json
  src/components/SocialNetwork.tsx
Due: eslint --fix, prettier --write

build: require node 24, bump pnpm to 11 and allow native builds
  .github/workflows/playwright.yml
  .github/workflows/update-snapshots.yml
  package.json
  pnpm-workspace.yaml
Due: prettier --write

fix(build): restore node >=20 and make the pnpm workspace file pnpm 9 safe
  package.json
  pnpm-workspace.yaml
Due: prettier --write

docs: restructure readme, refresh screenshots and add contributing guide
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CONTRIBUTING.md
  README.md
  docs/linkfolio.png
  docs/preview-bento.png
  docs/preview-dark.png
  docs/preview-light.png
  docs/preview-mobile.png
  docs/preview.jpg
  package.json
Due: prettier --write

fix(a11y): resolve outline width conflict and name the code scroll region
  app/demo/tweakStyles.ts
  app/lib/CodeBlock.tsx
Due: eslint --fix, prettier --write

feat(analytics)!: drop the beam provider
  CHANGELOG.md
  README.md
  app/docs/page.tsx
  src/lib/analytics-adapters.ts
  src/types.d.ts
  tests/analytics-events.spec.ts
  tests/analytics.spec.ts
  tests/demo.spec.ts
  tests/landing.spec.ts
  tests/types.test-d.ts
Due: eslint --fix, prettier --write

docs: tidy stale comments
  app/llms.txt/route.ts
  src/assets/globals.css
  src/lib/bento.ts
Due: eslint --fix, prettier --write

fix(seo): stop the demo asserting a person that does not exist
  app/demo/TweakPanel.tsx
Due: eslint --fix, prettier --write

fix(seo): trim the landing description and noindex the config route
  app/api/config/route.ts
  app/lib/LandingPage.tsx
Due: eslint --fix, prettier --write

feat(analytics): read the demo ga id from the environment
  config/user.config.ts
Due: eslint --fix, prettier --write

fix(a11y): keep card titles one level below the profile name
  src/components/LinkFolio.tsx
  src/components/SocialLinks.tsx
  src/components/SocialNetwork.tsx
Due: eslint --fix, prettier --write

feat(seo): attribute the landing graph to the project author
  app/lib/landingJsonLd.ts
Due: eslint --fix, prettier --write

chore(release): 3.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: badge the stack instead of the metrics
  README.md
Due: prettier --write

fix(exports): restore linkfolio/dist/assets resolution
  CHANGELOG.md
  package.json
Due: prettier --write

fix(bento): centre the pair inside a horizontal tile
  src/assets/globals.css
Due: none

feat(theme): add font family tokens for the name and card titles
  src/assets/globals.css
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
  src/types.d.ts
Due: eslint --fix, prettier --write

chore(release): 3.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(reveal): pace the stagger by group size and cascade from the failsafe
  src/lib/revealObserver.ts
  tests/unit/reveal-observer.spec.ts
Due: eslint --fix, prettier --write

fix(demo): end the tweak panel on a finished section
  app/demo/TweakPanel.tsx
Due: eslint --fix, prettier --write

docs: document the theme tokens and log the 3.1.0 changes
  CHANGELOG.md
  README.md
Due: prettier --write

test(bento): stop the phone layout test waiting on image loads
  tests/bento.spec.ts
Due: eslint --fix, prettier --write

fix(bento): make a horizontal tile read as one card
  src/assets/globals.css
Due: none

test(bento): cover a horizontal tile's geometry and overflow
  tests/bento.spec.ts
Due: eslint --fix, prettier --write

docs: document the bento tile surface tokens
  README.md
Due: prettier --write

chore(release): 3.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

test(profile): settle every card reveal before the visual baseline
  tests/profile/visual.spec.ts
  tests/profile/visual.spec.ts-snapshots/bento-dark-Mobile-Chrome-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-dark-chromium-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-dark-firefox-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-dark-iPad-Pro-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-dark-webkit-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-Mobile-Chrome-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-chromium-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-firefox-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-iPad-Pro-darwin.png
  tests/profile/visual.spec.ts-snapshots/bento-light-webkit-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-dark-Mobile-Chrome-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-dark-Mobile-Safari-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-light-Mobile-Chrome-darwin.png
  tests/profile/visual.spec.ts-snapshots/classic-light-Mobile-Safari-darwin.png
Due: eslint --fix, prettier --write

chore: align npm metadata with the project's positioning
  package.json
Due: prettier --write

feat(seo): bind site, repo and package into one entity via sameAs
  app/lib/landingJsonLd.ts
  tests/unit/landing-jsonld.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write
