Repository heristop/linkfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

chore: update theme font
  app/layout.tsx
  package.json
  tailwind.config.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write

[Theme] Up font
  app/layout.tsx
  package.json
  tailwind.config.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write

[SocialNetwork] Enhanced animation
  app/layout.tsx
  package.json
  pnpm-lock.yaml
  src/components/Footer.tsx
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
Due: eslint --fix, prettier --write

feat: enhance social network animation
  app/layout.tsx
  package.json
  pnpm-lock.yaml
  src/components/Footer.tsx
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
Due: eslint --fix, prettier --write

test: update playwright snapshots
  README.md
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: prettier --write

[Playwright] Updated snapshots
  README.md
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: prettier --write

[Assets] Updated logos
  config/user.config.ts
  package.json
  src/assets/img/bluesky.webp
  src/assets/img/instagram.webp
  src/assets/img/mastodon.webp
  src/assets/img/threads.webp
Due: eslint --fix, prettier --write

chore: update logos
  config/user.config.ts
  package.json
  src/assets/img/bluesky.webp
  src/assets/img/instagram.webp
  src/assets/img/mastodon.webp
  src/assets/img/threads.webp
Due: eslint --fix, prettier --write

[Playwright] Updated snapshots
  README.md
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: prettier --write

test: update playwright snapshots
  README.md
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: prettier --write

chore(deps): undpated versions
  package.json
  pnpm-lock.yaml
  src/components/Footer.tsx
  src/components/SocialNetwork.tsx
Due: eslint --fix, prettier --write

chore: upgraded project to next 15 rc
  README.md
  package.json
  pnpm-lock.yaml
  src/components/Footer.tsx
  src/components/SocialNetwork.tsx
Due: eslint --fix, prettier --write

chore(deps): added rc as depedencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): up
  package.json
Due: prettier --write

chore(ui): improved spacing
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
Due: eslint --fix, prettier --write

chore(ui): improved spacing
  src/components/Footer.tsx
  src/components/UserProfile.tsx
Due: eslint --fix, prettier --write

chore(ui): improved spacing
  src/components/SocialNetwork.tsx
Due: eslint --fix, prettier --write

chore: upgraded project to next 15 rc
  README.md
  package.json
  pnpm-lock.yaml
  src/components/Footer.tsx
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
Due: eslint --fix, prettier --write

feat(config): allow filtering links
  README.md
  config/user.config.ts
  package.json
  pnpm-lock.yaml
  src/components/SocialLinks.tsx
  src/types.d.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write

docs: updated readme
  README.md
Due: prettier --write

feat(ui): updated default style
  app/layout.tsx
  config/user.config.ts
  package.json
  public/manifest.json
  src/components/Footer.tsx
  src/components/LinkFolio.tsx
  src/components/SocialLinks.tsx
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
  tailwind.config.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write

ci(e2e): up snapshots
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
Due: none

ci(e2e): up snapshots
  config/user.config.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write

chore(ui): updated theme colors
  playwright.config.ts
  tailwind.config.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write

ci(e2e): reverted pw config
  playwright.config.ts
Due: eslint --fix, prettier --write

feat: added more customization
  LICENSE
  README.md
  app/page.tsx
  config/user.config.ts
  docs/preview.jpg
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/components/LinkFolio.tsx
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
  src/types.d.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write

ci: reverted config
  playwright.config.ts
Due: eslint --fix, prettier --write

feat(component): added more customization
  LICENSE
  README.md
  app/page.tsx
  config/user.config.ts
  docs/preview.jpg
  package.json
  pnpm-lock.yaml
  src/components/LinkFolio.tsx
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
  src/types.d.ts
  tailwind.config.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write

feat: upgraded to next 15
  package.json
  pages/api/config.ts
  playwright.config.ts
  pnpm-lock.yaml
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-darwin.png
Due: eslint --fix, prettier --write

feat: upgraded to tailwind 4
  next.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/assets/globals.css
  src/components/Footer.tsx
  src/components/SocialLinks.tsx
  src/components/SocialNetwork.tsx
  tailwind.config.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write
