Repository heristop/linkfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix ci
  .github/dependabot.yml
  .github/workflows/playwright.yml
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

feat: migrated to scss
  app/layout.tsx
  package.json
  pnpm-lock.yaml
  src/assets/globals.scss
  src/components/SocialNetwork.tsx
Due: eslint --fix, prettier --write

feat: upgraded to next 15 and tailwind 4
  .github/dependabot.yml
  .github/workflows/playwright.yml
  app/layout.tsx
  next.config.js
  package.json
  pages/api/config.ts
  playwright.config.ts
  pnpm-lock.yaml
  postcss.config.js
  src/assets/globals.css
  src/assets/globals.scss
  src/components/Footer.tsx
  src/components/SocialLinks.tsx
  src/components/SocialNetwork.tsx
  tailwind.config.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write

feat: upgraded to next 15 and tailwind 4
  .github/dependabot.yml
  .github/workflows/playwright.yml
  README.md
  app/api/config/route.ts
  next.config.js
  package.json
  pages/api/config.ts
  playwright.config.ts
  pnpm-lock.yaml
  postcss.config.js
  src/assets/globals.css
  src/components/Footer.tsx
  src/components/SocialLinks.tsx
  src/components/SocialNetwork.tsx
  tailwind.config.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Microsoft-Edge-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-linux.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-linux.png
Due: eslint --fix, prettier --write

Fix React Server Components CVE vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update build tools and dependencies
  .eslintrc.json
  .lintstagedrc
  .oxfmtrc.json
  .oxlintrc.json
  .prettierrc
  README.md
  next.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat: improve seo and metadata
  app/layout.tsx
  app/robots.ts
  app/sitemap.ts
  public/llms.txt
  public/robots.txt
  src/components/LinkFolio.tsx
Due: eslint --fix, prettier --write

feat: enhance ui animations and transitions
  src/assets/globals.css
  src/assets/img/bluesky.webp
  src/assets/img/facebook.webp
  src/assets/img/github.webp
  src/assets/img/instagram.webp
  src/assets/img/linkedin.webp
  src/assets/img/mastodon.webp
  src/assets/img/snapchat.webp
  src/assets/img/telegram.webp
  src/assets/img/threads.webp
  src/assets/img/whatsapp.webp
  src/assets/img/x.webp
  src/assets/img/youtube.webp
Due: none

feat: improve accessibility and design
  src/components/Footer.tsx
  src/components/SocialLinks.tsx
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
Due: eslint --fix, prettier --write

chore: migrate from tsup to tsdown
  package.json
  pnpm-lock.yaml
  scripts/build.sh
  tsdown.config.ts
  tsup.config.js
Due: eslint --fix, prettier --write

refactor: cleanup code and update test snapshots
  public/index.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-darwin.png
Due: eslint --fix, prettier --write

chore: update tsdown and build config
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update bluesky icon
  src/assets/img/bluesky.webp
Due: none

feat(ui): add css custom properties, data-group attributes, and grouped sections
  src/assets/globals.css
  src/components/LinkFolio.tsx
  src/components/SocialLinks.tsx
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
  src/types.d.ts
Due: eslint --fix, prettier --write

feat(config): add project and website examples to default template
  src/default.config.ts
Due: eslint --fix, prettier --write

feat(ui): refine css variables, animations, and hover effects
  src/assets/globals.css
  src/components/Footer.tsx
  src/components/LinkFolio.tsx
  src/components/SocialLinks.tsx
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
Due: eslint --fix, prettier --write

feat(config): update default and user config templates
  config/user.config.ts
  src/default.config.ts
Due: eslint --fix, prettier --write

chore(build): disable sourcemaps and copy webp assets
  scripts/build.sh
  tsdown.config.ts
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  pnpm-lock.yaml
Due: none

chore: bump version to 2.0.0 and add .env to gitignore
  .gitignore
  package.json
Due: prettier --write

test: update e2e snapshot and add package assets test
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-darwin.png
  tests/package-assets.test.mjs
Due: none

chore: add banner images for project and website sections
  public/assets/banner-cooking.png
  public/assets/banner-mood.png
  public/assets/banner-notepad.png
  public/assets/banner-portfolio.png
  public/assets/banner-splitbill.png
Due: none

feat(seo): add dynamic og image generation with avatar and theme colors
  app/layout.tsx
  app/opengraph-image.tsx
  package.json
  public/assets/avatar-og.png
Due: eslint --fix, prettier --write

feat: add dark mode with view transition api
  app/layout.tsx
  package.json
  pnpm-lock.yaml
  src/components/ThemeProvider.tsx
  src/components/ThemeToggle.tsx
Due: eslint --fix, prettier --write

feat: add share button and qr code modal
  src/components/QrCodeButton.tsx
  src/components/ShareButton.tsx
Due: eslint --fix, prettier --write

refactor: migrate to tailwind-first with oklch colors
  src/assets/globals.css
  src/components/Footer.tsx
  src/components/LinkFolio.tsx
  src/components/SocialLinks.tsx
  src/components/SocialNetwork.tsx
  src/components/UserProfile.tsx
  src/index.ts
Due: eslint --fix, prettier --write

fix: resolve lint errors and use import type
  .oxlintrc.json
  app/opengraph-image.tsx
  config/user.config.ts
  public/index.ts
  src/default.config.ts
Due: eslint --fix, prettier --write

chore: bump version to 2.2.0
  package.json
Due: prettier --write

fix(a11y): improve contrast ratio and aria-label accuracy
  src/assets/globals.css
  src/components/Footer.tsx
  src/components/SocialNetwork.tsx
Due: eslint --fix, prettier --write

fix(a11y): increase footer and card contrast ratio
  src/assets/globals.css
Due: none

feat: add theme and darkTheme config support with zen green dark mode
  config/user.config.ts
  package.json
  src/components/LinkFolio.tsx
  src/components/SocialNetwork.tsx
  src/index.ts
  src/types.d.ts
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Google-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Chrome-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-Mobile-Safari-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-chromium-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-firefox-darwin.png
  tests/homepage.spec.ts-snapshots/displays-social-network-list-1-webkit-darwin.png
Due: eslint --fix, prettier --write

feat: add configurable button opacity and accent line color for dark theme
  package.json
  src/assets/globals.css
  src/components/LinkFolio.tsx
  src/components/QrCodeButton.tsx
  src/components/ShareButton.tsx
  src/components/ThemeToggle.tsx
  src/types.d.ts
Due: eslint --fix, prettier --write

docs: add changelog and licensing notes
  CHANGELOG.md
  LICENSE
  README.md
  TRADEMARK.md
Due: prettier --write

feat(types): expose public config and layout types
  src/index.ts
  src/types.d.ts
Due: eslint --fix, prettier --write

feat(bento): add bento mosaic layout
  src/components/SocialLinks.tsx
  src/lib/bento.ts
  tests/bento-arrange.spec.ts
  tests/bento.spec.ts
Due: eslint --fix, prettier --write

feat(seo): add metadata and json-ld builders
  src/seo/index.ts
  src/seo/jsonLd.ts
  src/seo/metadata.ts
  tests/seo-jsonld.spec.ts
  tests/seo-metadata.spec.ts
Due: eslint --fix, prettier --write

feat(analytics): add pluggable analytics adapters
  src/components/Analytics.tsx
  src/lib/analytics-adapters.ts
  src/lib/analytics.ts
  tests/analytics-events.spec.ts
  tests/analytics.spec.ts
Due: eslint --fix, prettier --write

chore: add agent instruction files
  AGENTS.md
  CLAUDE.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md})
