Repository heristop/linkfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(content): own the comparison and FAQ in one module
  app/lib/projectContent.ts
  tests/unit/project-content.spec.ts
Due: eslint --fix, prettier --write

refactor(content): render the comparison and FAQ from one source
  app/docs/page.tsx
  app/lib/ComparisonTable.tsx
  app/lib/LandingPage.tsx
  tests/landing.spec.ts
Due: eslint --fix, prettier --write

docs(comparison-table): soften the sr-only header comment's a11y claim
  app/lib/ComparisonTable.tsx
Due: eslint --fix, prettier --write

docs: generate the README comparison and FAQ from the content module
  README.md
  package.json
  scripts/gen-readme.ts
  tests/unit/readme-sync.spec.ts
Due: eslint --fix, prettier --write

feat(seo): split llms.txt into an index and a full corpus
  app/lib/deployMode.ts
  app/llms-full.txt/route.ts
  app/llms.txt/route.ts
  tests/unit/deploy-mode.spec.ts
Due: eslint --fix, prettier --write

feat(seo): submit the showcase URLs to IndexNow after deploy
  .github/workflows/indexnow.yml
  package.json
  public/a3fe9b9e1a4d41277b145e5de1a02c6a.txt
  scripts/indexnow.ts
Due: eslint --fix, prettier --write

fix(seo): scope the IndexNow workflow to the canonical repository
  .github/workflows/indexnow.yml
Due: none

docs: move the API reference out of the README
  README.md
  docs/analytics.md
  docs/assets.md
  docs/configuration.md
  docs/layouts.md
  docs/seo.md
  docs/theming.md
Due: prettier --write

fix(docs): pad the generated comparison table to match oxfmt
  README.md
  app/lib/projectContent.ts
  scripts/gen-readme.ts
  tests/unit/project-content.spec.ts
Due: eslint --fix, prettier --write

fix(pkg): move homepage after the keywords array for oxfmt
  package.json
Due: prettier --write

test(seo): guard D0 with a host allowlist instead of naming vendors
  tests/unit/project-content.spec.ts
Due: eslint --fix, prettier --write

test(seo): cover llms-full.txt in the fork guard, fix vacuous mobile check
  tests/landing.spec.ts
  tests/profile/profile.spec.ts
Due: eslint --fix, prettier --write

feat(seo): derive the comparison legend from SOURCES, cite it everywhere
  README.md
  app/lib/ComparisonTable.tsx
  app/lib/projectContent.ts
  app/llms-full.txt/route.ts
  scripts/gen-readme.ts
  tests/unit/readme-sync.spec.ts
Due: eslint --fix, prettier --write

docs: split the Node floor into consumer vs contributor requirements
  CONTRIBUTING.md
Due: prettier --write

docs(seo): fix the index-file copy, document indexnow's trade-offs
  app/llms.txt/route.ts
  scripts/indexnow.ts
Due: eslint --fix, prettier --write

test(deploy-mode): drop sitemap assertion redundant with the exact array
  tests/unit/deploy-mode.spec.ts
Due: eslint --fix, prettier --write

feat(seo): make the project discoverable on the surfaces it owns
  .github/workflows/indexnow.yml
  CONTRIBUTING.md
  README.md
  app/docs/page.tsx
  app/lib/ComparisonTable.tsx
  app/lib/LandingPage.tsx
  app/lib/deployMode.ts
  app/lib/landingJsonLd.ts
  app/lib/projectContent.ts
  app/llms-full.txt/route.ts
  app/llms.txt/route.ts
  docs/analytics.md
  docs/assets.md
  docs/configuration.md
  docs/layouts.md
  docs/seo.md
  docs/theming.md
  package.json
  public/a3fe9b9e1a4d41277b145e5de1a02c6a.txt
  scripts/gen-readme.ts
  scripts/indexnow.ts
  tests/landing.spec.ts
  tests/profile/profile.spec.ts
  tests/unit/deploy-mode.spec.ts
  tests/unit/landing-jsonld.spec.ts
  tests/unit/project-content.spec.ts
  tests/unit/readme-sync.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test(bento): share one phone viewport and navigation
  tests/bento.spec.ts
Due: eslint --fix, prettier --write

test(analytics): pin the self-hosted Umami configuration
  docs/analytics.md
  tests/analytics.spec.ts
Due: eslint --fix, prettier --write

docs(analytics): say what a tracker puts on the device, not what it means
  docs/analytics.md
  tests/analytics.spec.ts
Due: eslint --fix, prettier --write

feat(analytics): add a Cloudflare Web Analytics adapter
  docs/analytics.md
  src/lib/analytics-adapters.ts
  src/types.d.ts
  tests/analytics.spec.ts
Due: eslint --fix, prettier --write

test(bento): share phone viewport
  tests/bento.spec.ts
Due: eslint --fix, prettier --write

feat(analytics): add a Cloudflare adapter, and pin the self-hosted Umami setup
  docs/analytics.md
  src/lib/analytics-adapters.ts
  src/types.d.ts
  tests/analytics.spec.ts
Due: eslint --fix, prettier --write

refactor: drop setstate calls inside effects
  app/lib/ThemePresetProvider.tsx
  src/components/QrCodeButton.tsx
  src/components/ThemeToggle.tsx
  src/components/UserProfile.tsx
  src/lib/useIsClient.ts
  src/lib/useTypedAlias.ts
Due: eslint --fix, prettier --write

fix(links): eager-load the first large tiles
  src/components/SocialLinks.tsx
  src/lib/priority.ts
  tests/unit/priority.spec.ts
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 3.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(build): silence use client directive warnings
  tsdown.config.ts
Due: eslint --fix, prettier --write

chore(release): 3.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(links): size classic tiles by group for eager loading
  src/components/SocialLinks.tsx
  src/lib/priority.ts
  tests/unit/priority.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md})
